/* Body styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header and footer styles */
header, footer {
  background-color: green;
  color: white;
  text-align: center;
  width: 100%;
}

header h1 {
  padding: 10px;
  height: 3em;
  line-height: 3em;
}

header {
  font-size: 36px;
  top: 0;
}

footer {
  /* position: fixed; */
  bottom: 0;
  height: 2em;
}

/* Navbar styles */

nav ul {
  background-color: rgb(0, 148, 0);
  height: 2em;
  line-height: 2em;
  font-size: 30px;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  text-align: center;
  width: 25%;
}

nav ul li:hover {
  background-color: rgb(0, 173, 0);
}

/* Text styles */
h2 {
  font-size: 2em;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

/* Main styles */
main {
  display: flex;
  background-color: rgb(234, 255, 231);
}

/* List styles */
ul {
  display: block;
}

/* Park styles */
.lists {
  margin: auto;
}

.container {
  padding: 0.5em 1em;
}

.container li {
  width: 85%;
  min-height: 8em;
  border: 0.2em black solid;
  padding: 1em;
  list-style: none;
  margin: auto;
  background-color: white;
}

.container li h1 {
  font-size: 2em;
}

.container li h2 {
  font-size: 1em;
  padding: 0px;
  text-align: left;
  text-decoration: none;
}

.container li.uv {
  border-right: 1em solid red;
}

.container li.pv {
  border-right: 1em solid yellow;
}

.container li.v {
  border-right: 1em solid green;
}

/* Button styles */
.parkInfo {
  width: 80%;
  float: left;
  overflow-x: hidden;
}

.buttons {
  width: 16%;
  float: right;
}

/* Aside styles */
aside {
  width: 20%;
  text-align: center;
  padding: 2em;
  background-color: rgb(200, 255, 193);
}

/* EditList styles */
.editlist {
  float: left;
}

/* Settings styles */
.settings {
  float: right;
}

/* Debug styles */
/* *, *::before, *::after {
  border: 1px solid red;
} */

.flex {
  display: flex;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  width: 200px;
}
