@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Body styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Text styles */
h2 {
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

/* Global Button styles */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
}

/* Header styles */
header {
  background-color: rgb(23, 139, 0);
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
}

header h1 {
  float: left;
  font-size: 30px;
  color: rgb(233, 233, 233);
}

/* Navbar styles */
header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav li {
  float: left;
  margin-left: 10px;
  display: block;
  padding: 0 10px;
  color: #333;
  text-decoration: none;
  color: rgb(233, 233, 233);
  font-size: 24px;
  cursor: pointer;
}

header nav li:hover {
  background-color: rgb(29, 173, 0);
}

/* Footer styles */
footer {
  background-color: rgb(23, 139, 0);
  padding: 0 15px;
  bottom: 0;
  height: 2em;
  line-height: 2em;
  color: rgb(234, 255, 231);
}

/* Main styles */
.flex {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px - 2em)
}

main {
  background-color: rgb(234, 255, 231);
  min-height: 100%;
  width: 100%;
  padding: 2em;
}

/* List styles */
.lists {
  margin: auto;
}

ul {
  display: block;
}

ul > p {
  font-size: 20px;
  text-align: center;
}

/* Park styles */
.container {
  padding: 0.5em 1em;
}

.container li {
  width: 90%;
  min-height: 9em;
  border: 0.2em black solid;
  padding: 1em;
  list-style: none;
  margin: auto;
  background-color: white;
}

.container li h1 {
  font-size: 2em;
}

.container li h2 {
  font-size: 1em;
  padding: 0px;
  text-align: left;
  text-decoration: none;
}

.container li.uv {
  border-right: 1em solid red;
}

.container li.pv {
  border-right: 1em solid yellow;
}

.container li.v {
  border-right: 1em solid green;
}

li div {
  display: inline-block;
}

/* Park info styles */
.parkInfo {
  width: 80%;
  float: left;
  overflow-x: hidden;
}

/* Park button styles */
.buttons {
  width: 16%;
  float: right;
}

/* Park more info styles */
.moreInfo {
  width: 96%;
  margin: 10px;
  text-align: center;
}

/* Sidebar styles */
aside {
  width: 25%;
  text-align: center;
  padding: 2em;
  background-color: rgb(200, 255, 193);
}

/* EditList styles */
.editlist {
  float: left;
}

/* Settings styles */
.settings {
  float: right;
}

/* Form styles */
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(15, 150, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    border-radius: 5px;
    background-color: #b7ff9f;
    padding: 20px;
}

/* Debug styles */
/* * {
  border: 1px solid red;
} */
