/* Body styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header and footer styles */
header, footer {
  background-color: green;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
}

header {
  font-size: 36px;
  top: 0;
}

footer {
  /* position: fixed; */
  bottom: 0;
  height: 2em;
}

/* Text styles */
h2 {
  font-size: 2em;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

/* Main styles */
main {
  display: flex;
}

/* List styles */
ul {
  display: block;
}

/* Park styles */
li {
  width: 85%;
  height: 8em;
  border: 0.2em black solid;
  padding: 1em;
  list-style: none;
  margin: auto;
}

li h1 {
  font-size: 2em;
}

li h2 {
  font-size: 1em;
  padding: 0px;
  text-align: left;
  text-decoration: none;
}

li.uv {
  border-right: 1em solid red;
}

li.pv {
  border-right: 1em solid yellow;
}

li.v {
  border-right: 1em solid green;
}

/* Button styles */
.parkInfo {
  width: 80%;
  float: left;
  overflow-x: hidden;
}

button {
  width: 3.5em;
  height: 3.5em;
  margin: 10px;
  float: right;
}

.buttons {
  width: 16%;
  float: right;
}

/* Aside styles */
aside {
  width: 20%;
  border: 0.5em solid darkgreen;
  text-align: center;
  height: 6em;
  padding: 2em;
  margin-top: 4em;
}

aside h1 {
  color: darkgreen;
  font-size: 2em;
}

/* EditList styles */
.editlist {
  float: left;
}

/* Settings styles */
.settings {
  float: right;
}

/* Debug styles */
/* *, *::before, *::after {
  border: 1px solid red;
} */
